[Desktop Entry]
Type=Application
Name=xmAppCamera
Comment=Camera preview, tuning, qualification and recording
Exec=xmAppCamera
Terminal=false
Categories=AudioVideo;Video;Utility;
